# DAP Zero - Data Processing


## Import the Data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_model = pd.read_csv('data_rhino_hz.csv')
df_repo = pd.read_csv('data_test_repo.csv')

In [ ]:
df_model['typology'] = df_model['typology'].str.lower()
df_model.head()

    typology     area
0  landscape  1548.40
1  landscape  3212.90
2  landscape  2366.70
3  landscape   511.51
4  landscape   720.00

In [ ]:
df_repo.head()

      typology    gfa    gla    bua  residents  employees  visitors  parking
0  residential  0.600  0.600  0.600      0.600      0.600     0.600    0.600
1       office  0.500  0.500  0.500      0.500      0.500     0.500    0.500
2        hotel  0.005  0.005  0.005      0.005      0.005     0.005    0.005
3    community  1.000  1.000  1.000      1.000      1.000     1.000    1.000
4       retail  0.050  0.050  0.050      0.050      0.050     0.050    0.050

---
## merge the data frames

In [63]:
merged = pd.merge(df_model, df_repo, how='left', left_on='typology', right_on='typology')
merged.head()
merged['typology'].unique()

array(['landscape', 'commercial', 'hotel', 'plaza', 'retail'],
      dtype=object)


## process the data

In [74]:
md = merged.copy()

md['gfa'] = md['area'] * md['gfa']
md['gla'] = md['area'] * md['gfa']
md['bua'] = md['area'] * md['gfa']
md['residents'] = md['area'] * md['residents']
md['employees'] = md['area'] * md['employees']
md['visitors'] = md['area'] * md['visitors']
md['parking'] = md['area'] * md['parking']

filter = md['typology'] == 'hotel'
md

,typology,area,gfa,gla,bua,residents,employees,visitors,parking
0,landscape,1548.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,landscape,3212.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,landscape,2366.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,landscape,511.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,landscape,720.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
571,retail,790.69,39.5345,31259.533805,31259.533805,39.5345,39.5345,39.5345,39.5345
572,retail,1218.20,60.9100,74200.562000,74200.562000,60.9100,60.9100,60.9100,60.9100
573,retail,1911.20,95.5600,182634.272000,182634.272000,95.5600,95.5600,95.5600,95.5600
574,retail,790.69,39.5345,31259.533805,31259.533805,39.5345,39.5345,39.5345,39.5345
575,retail,1150.70,57.5350,66205.524500,66205.524500,57.5350,57.5350,57.5350,57.5350

## export the csv

In [75]:
md.to_csv('output/data_dap.csv')