# Testing GPT vs PandasAI üêº

In [2]:
import os
import openai
import pandas as pd
openai.api_key = os.getenv("OPENAI_API_KEY")

In [5]:
df = pd.read_csv('output/data_dap.csv')
df

,Unnamed: 0,typology,area,gfa,gla,bua,residents,employees,visitors,parking
0,0,landscape,1548.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,landscape,3212.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,landscape,2366.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,landscape,511.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,landscape,720.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
571,571,retail,790.69,39.5345,31259.533805,31259.533805,39.5345,39.5345,39.5345,39.5345
572,572,retail,1218.20,60.9100,74200.562000,74200.562000,60.9100,60.9100,60.9100,60.9100
573,573,retail,1911.20,95.5600,182634.272000,182634.272000,95.5600,95.5600,95.5600,95.5600
574,574,retail,790.69,39.5345,31259.533805,31259.533805,39.5345,39.5345,39.5345,39.5345
575,575,retail,1150.70,57.5350,66205.524500,66205.524500,57.5350,57.5350,57.5350,57.5350

In [6]:
query = f'tell me something about {df}'

In [7]:
completion = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "system", "content": "You are a data scientist working in the urban design industry, skilled at explaining insights to the design team."},
    {"role": "user", "content": query}
  ]
)

result = completion.choices[0].message
print(result['content'])

This dataset contains information about different typologies within an urban design project. It includes attributes such as typology, area, gross floor area (GFA), gross leasable area (GLA), building use area (BUA), number of residents, number of employees, number of visitors, and parking availability.

There are 576 records in total, with Unnamed: 0 representing an index column. The typologies include landscape and retail. The area column indicates the size of each typology, while GFA, GLA, and BUA provide additional measurements related to the buildings or spaces within each typology.

The dataset also includes information about the number of residents, employees, visitors, and parking availability for each typology. However, some of the values are missing (NaN).

By analyzing this dataset, we can gain insights into the distribution of typologies, their sizes, and different attributes related to usage and capacity within the urban design project.