# **Population DF**

## Expected Features

| features name | type  | description  |
|----	|---	|---
| `building` | str | example description of the feature
| `asset` | str | example description of the feature
| `typology` | str | example description of the feature
| `area` | float | example description of the feature
| `residents` | int | example description of the feature
| `employees` | int | example description of the feature
| `visitors` | int | example description of the feature
| `parking` | int | float value representing the efficiency as a percentage of 100 (1.0 = 100%, 0.5 = 50%, 0.1 = 10% )

the dataframe is amplified by the specailist dataset: `coefficients`\
 has all the parking and population formulas for that particular area of governance

In [32]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [33]:
# import modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plot

In [34]:
from etl.extract import ProjectZero

In [35]:
# import projectzero data
from etl.extract import ProjectZero
data = ProjectZero().get_data()

# view keys
data.keys()

# df_model instance
df_model = data['hz_model'].copy()
df_coef = data['ksa_coefficients'].copy()

In [36]:
df_coef.head()

      typology  efficiency  parking req  residents  employees   visitors
0    community        1.00         0.00          0        0.05      0.10
1        hotel        0.70         0.24          0        0.60      1.50
2       office        0.85         0.01          0        0.05      0.10
3  residential        0.82         0.00          0        0.00      0.05
4       retail        0.80         0.01          0        0.02      0.19

## 1. `get_building_population`

this method should return a dataframe that has the following features:\
`building`, `area`, `residents`, `employees`, `visitors`

In [37]:
df_model.rename(columns=lambda x: x.lower(), inplace=True)
df_model.typology = df_model.typology.str.lower()
df_merged = df_model.merge(df_coef, on='typology',how='left')
df_merged.head()

,id,typology,area,volume,plot,building,envelope,elevation,colour,efficiency,parking req,residents,employees,visitors
0,37108380-bb59-4614-9e39-2de7f9036322,retail,400,1400,3,Tower 03,280.0,0,#FF5442,0.8,0.01,0.0,0.02,0.19
1,a3b644fb-21ee-468c-b31f-fae4b5662842,retail,400,1400,3,Podium 03,280.0,0,#FF5442,0.8,0.01,0.0,0.02,0.19
2,0ea705aa-80aa-4619-9d9a-b86fd3f0c322,retail,400,1400,2,Tower 02,280.0,0,#FF5442,0.8,0.01,0.0,0.02,0.19
3,36d9da83-6389-45b1-8b66-5300aae9d977,retail,400,1400,1,Tower 01,280.0,0,#FF5442,0.8,0.01,0.0,0.02,0.19
4,56a2686a-5346-4f86-8b84-d9f7de354eaf,community,400,1400,1,Podium 01,280.0,0,#96D200,1.0,0.00,0.0,0.05,0.10

In [38]:
# df_merged.fillna(0)

In [39]:
coef_features = ['efficiency', 'parking req', 'residents', 'employees ', 'visitors']

for i in coef_features:
    df_merged[i] = (df_merged[i]*df_merged.area).fillna(0 )
    df_merged[i] = df_merged[i].astype(int)

In [40]:
df_merged.rename(columns={'efficiency':'gfa'}, inplace=True)
df_merged

,id,typology,area,volume,plot,building,envelope,elevation,colour,gfa,parking req,residents,employees,visitors
0,37108380-bb59-4614-9e39-2de7f9036322,retail,400,1400,3,Tower 03,280.0,0,#FF5442,320,4,0,8,76
1,a3b644fb-21ee-468c-b31f-fae4b5662842,retail,400,1400,3,Podium 03,280.0,0,#FF5442,320,4,0,8,76
2,0ea705aa-80aa-4619-9d9a-b86fd3f0c322,retail,400,1400,2,Tower 02,280.0,0,#FF5442,320,4,0,8,76
3,36d9da83-6389-45b1-8b66-5300aae9d977,retail,400,1400,1,Tower 01,280.0,0,#FF5442,320,4,0,8,76
4,56a2686a-5346-4f86-8b84-d9f7de354eaf,community,400,1400,1,Podium 01,280.0,0,#96D200,400,0,0,20,40
5,2b6da8c9-e827-4769-947e-cd5e632751b1,education,400,1400,2,Podium 02,280.0,0,#00B5E2,0,0,0,0,0
6,a2be6772-c8e9-4eb8-a845-4ef1102fb680,hotel,400,1400,3,Tower 03,280.0,7000,#F16AB7,280,96,0,240,600
7,0a626f19-0e5b-4ae7-95c0-0258677f854a,hotel,400,1400,3,Tower 03,280.0,3500,#F16AB7,280,96,0,240,600
8,3701cdb6-2f58-49ba-916d-c82bd111466c,office,400,1400,1,Tower 01,280.0,17500,#1C4BB4,340,4,0,20,40
9,4d80897d-95f8-46c0-8dd2-10ec7b7225c0,office,400,1400,1,Tower 01,280.0,14000,#1C4BB4,340,4,0,20,40
10,ccd22021-86c1-40b2-b0d2-80f7be47aaf7,office,400,1400,1,Tower 01,280.0,10500,#1C4BB4,340,4,0,20,40
11,ed94ec39-4c06-4f66-8528-44ffa6edb861,office,400,1400,1,Tower 01,280.0,7000,#1C4BB4,340,4,0,20,40
12,a2024939-0fff-4a0a-8540-da615424d5e8,office,400,1400,1,Tower 01,280.0,3500,#1C4BB4,340,4,0,20,40
13,77366447-d597-473d-8e02-aba800e03155,residential,400,1400,2,Tower 02,280.0,10500,#FFCD00,328,0,0,0,20
14,4bfbcf4c-afbb-403b-a834-b9bd672d7d3c,residential,400,1400,2,Tower 02,280.0,7000,#FFCD00,328,0,0,0,20
15,fa393ccf-ad66-4603-ab82-81abe863f60b,residential,400,1400,2,Tower 02,280.0,3500,#FFCD00,328,0,0,0,20

## 2. `get_parking_requirement`

this method should return a dataframe that has the following features:\
`building`, `asset`, `area`, `parking_required`

In [41]:
df_model.isna().sum()

id           0
typology     0
area         0
volume       0
plot         0
building     0
envelope     0
elevation    0
colour       0
dtype: int64