# **Typologies DF**

## Expected Features

| features name | type  | description  |
|----	|---	|---
| `asset` | str | example description of the feature
| `typology` | str | example description of the feature
| `building_id` | str | example description of the feature
| `area` | float | example description of the feature
| `zone` | str | example description of the feature
| `phase` | int | example description of the feature
| `plot` | str | example description of the feature
| `efficiency` | float | float value representing the efficiency as a percentage of 100 (1.0 = 100%, 0.5 = 50%, 0.1 = 10% )

Typology dataframes shoud contain the building typologies as well as any other location based identification such as plot zone and building types. areas should also be inlcuded

In [5]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
# import modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plot

In [7]:
from etl.extract import ProjectZero

In [8]:
# import projectzero data
from etl.extract import ProjectZero
data = ProjectZero().get_data()

# view keys
data.keys()

# df_model instance
df_model = data['hz_model'].copy()
df_model.head(3)

,ID,Typology,Area,Plot,Building,Colour
0,be49f53d-2a79-4d59-a0f4-39cfbccac1ef,Commercial,1696.329992,YH090703-05,,#FF8DA2
1,186a8323-9d4e-4307-8d0a-32207f5acf58,Commercial,2896.125039,YH090703-04,Tower 03,#FF8DA2
2,2fce15ca-9547-40c0-b47c-831838e39a1f,Commercial,2056.249041,YH090703-04,Tower 03,#FF8DA2

## 1. `get_building_typology`

this method should return a dataframe that has the following features:\
`id`, `asset`, `typology`, `plot`, `building`

In [9]:
df_model.isna().sum()

ID          0
Typology    0
Area        0
Plot        0
Building    0
Colour      0
dtype: int64

## 2. `get_building_facade`

this method should return a dataframe that has the following features: \
`building`, `area`, `facade`

In [10]:
df_model.isna().sum()

ID          0
Typology    0
Area        0
Plot        0
Building    0
Colour      0
dtype: int64

## 3. `get_building_floors`

this method should return a dataframe that has the following features: \
`building`, `height`, `floors`

In [11]:
df_model.isna().sum()

ID          0
Typology    0
Area        0
Plot        0
Building    0
Colour      0
dtype: int64

## 4. `get_building_areas`

this method should return a dataframe that has the following features: \
`building`, `area`, `efficiency`, `gfa`

In [12]:
df_model.isna().sum()

ID          0
Typology    0
Area        0
Plot        0
Building    0
Colour      0
dtype: int64