In [52]:
from etl.extract import ProjectZero
from etl.utilities import Utilities
from scipy.stats import zscore
import pandas as pd

design_data = ProjectZero().get_data()['hz_model'].copy()
training_data = Utilities().get_training_data().copy()

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [53]:
training_data.head(3)

,building_typology,building_gfa,primary_gfa,secondary_typology,secondary_gfa,year_built,occupancy,num_buildings,electricity_demmand
0,office,169416,164754.0,bank_branch,4662.0,1909,95,1,1920103.6
1,school,94380,94380.0,school,94380.0,1963,100,1,180640.0
3,hotel,50000,50000.0,hotel,50000.0,1994,100,1,579335.2

In [54]:
design_data.head()

,ID,Typology,Area,Volume,Plot,Building,Elevation,Colour
0,a3b644fb-21ee-468c-b31f-fae4b5662842,Retail,400,1400,3,Podium,0,#FF5442
1,ed94ec39-4c06-4f66-8528-44ffa6edb861,Retail,400,1400,1,Tower 01,7000,#FF5442
2,a2024939-0fff-4a0a-8540-da615424d5e8,Retail,400,1400,1,Tower 01,3500,#FF5442
3,36d9da83-6389-45b1-8b66-5300aae9d977,Retail,400,1400,1,Tower 01,0,#FF5442
4,56a2686a-5346-4f86-8b84-d9f7de354eaf,Community,400,1400,1,Podium,0,#96D200

In [55]:
# drop irrelevant columns
design_data.drop(columns=['ID','Volume','Plot','Elevation','Colour'], inplace=True)

In [67]:
# Group by building and rank the areas
design_data['Area_Rank'] = design_data.groupby('Building')['Area'].rank(ascending=False)

# Sort by building and area rank
design_data = design_data.sort_values(by=['Building', 'Area_Rank'])
design_data

# Group by building and rank the areas within each building type
design_data['Area_Rank'] = design_data.groupby(['Building', 'Typology'])['Area'].rank(ascending=False)

# Sort by building and area rank
design_data = design_data.sort_values(by=['Building', 'Area_Rank'])
design_data

# group with area rank
design_data.groupby(['Building', 'Area_Rank', 'Typology']).sum()

                                Area
Building Area_Rank Typology
Podium   1.0       Community     400
                   Education     400
                   Retail        400
Tower 01 2.0       Office       1200
                   Retail       1200
Tower 02 2.0       Hotel        1200
         2.5       Residential  1600