# DAP Zero - data processing


## import the data

In [3]:
import pandas as pd
import numpy as np

In [4]:
df_model = pd.read_csv('data_model.csv')
df_repo = pd.read_csv('data_repo.csv')

In [8]:
df_model.head()

          type  area
0  residential   234
1  residential   456
2  residential   234
3  residential   276
4  residential   375

In [9]:
df_repo.head()

          type    gfa    gla    bua  residents  employees  visitors  parking
0  residential  0.600  0.600  0.600      0.600      0.600     0.600    0.600
1       office  0.500  0.500  0.500      0.500      0.500     0.500    0.500
2        hotel  0.005  0.005  0.005      0.005      0.005     0.005    0.005
3    community  1.000  1.000  1.000      1.000      1.000     1.000    1.000
4       retail  0.050  0.050  0.050      0.050      0.050     0.050    0.050

## merge the data frames

In [10]:
merged = pd.merge(df_model,df_repo)
merged.head()

          type  area  gfa  gla  bua  residents  employees  visitors  parking
0  residential   234  0.6  0.6  0.6        0.6        0.6       0.6      0.6
1  residential   456  0.6  0.6  0.6        0.6        0.6       0.6      0.6
2  residential   234  0.6  0.6  0.6        0.6        0.6       0.6      0.6
3  residential   276  0.6  0.6  0.6        0.6        0.6       0.6      0.6
4  residential   375  0.6  0.6  0.6        0.6        0.6       0.6      0.6


## process the data

In [57]:
md = merged.copy()

md['gfa'] = md['area'] * md['gfa']
md['gla'] = md['area'] * md['gfa']
md['bua'] = md['area'] * md['gfa']
md['residents'] = md['area'] * md['residents']
md['employees'] = md['area'] * md['employees']
md['visitors'] = md['area'] * md['visitors']
md['parking'] = md['area'] * md['parking']

md.head()

,type,area,gfa,gla,bua,residents,employees,visitors,parking
0,residential,234,140.4,32853.6,32853.6,140.4,140.4,140.4,140.4
1,residential,456,273.6,124761.6,124761.6,273.6,273.6,273.6,273.6
2,residential,234,140.4,32853.6,32853.6,140.4,140.4,140.4,140.4
3,residential,276,165.6,45705.6,45705.6,165.6,165.6,165.6,165.6
4,residential,375,225.0,84375.0,84375.0,225.0,225.0,225.0,225.0

## export the csv

In [58]:
md.to_csv('output/data_dap.csv')