# Generate Facade Values

### importing libraries and data

In [6]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('data/data_rhino_hz.csv').copy()
df

      typology     area
0    Landscape  1548.40
1    Landscape  3212.90
2    Landscape  2366.70
3    Landscape   511.51
4    Landscape   720.00
..         ...      ...
571     Retail   790.69
572     Retail  1218.20
573     Retail  1911.20
574     Retail   790.69
575     Retail  1150.70

[576 rows x 2 columns]

### Implementing the facade formula

In [22]:
# rationalising the formula
area = df.area
perimeter = np.sqrt(area) * 4
height = 4

facade = perimeter * height
facade

0      629.595426
1      906.919181
2      778.379856
3      361.865389
4      429.325052
          ...
571    449.907368
572    558.443551
573    699.476376
574    449.907368
575    542.751509
Name: area, Length: 576, dtype: float64

### adding column to the dataframe

In [18]:
df['facade'] = facade

df

      typology     area      facade
0    Landscape  1548.40  629.595426
1    Landscape  3212.90  906.919181
2    Landscape  2366.70  778.379856
3    Landscape   511.51  361.865389
4    Landscape   720.00  429.325052
..         ...      ...         ...
571     Retail   790.69  449.907368
572     Retail  1218.20  558.443551
573     Retail  1911.20  699.476376
574     Retail   790.69  449.907368
575     Retail  1150.70  542.751509

[576 rows x 3 columns]

### merging into function

In [24]:
import pandas as pd
import numpy as np

def generate_facade(df: pd.DataFrame, area: pd.Series, height: int):
    area = df.area
    perimeter = np.sqrt(area) * 4
    facade = perimeter * height
    df['facade'] = facade
    
    return df