# Data Insights

In [30]:
from pandasai import SmartDataframe
import pandas as pd
from pandasai.llm import OpenAI
llm = OpenAI(api_token="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")
import ipywidgets as widgets

In [17]:
df = pd.read_csv('data_hz.csv')
df.columns = ['zone', 'parcel', 'precinct', 'plot', 'sub_plot', 'building', 'riverside', 'phase', 'asset', 'type', 'area', 'level', 'bua', 'gfa', 'gla', 'parking', 'employee', 'residents', 'visitor', 'units']
df = df.applymap(lambda x: x.lower() if isinstance(x, str) else x)
df.head()

,zone,parcel,precinct,plot,sub_plot,building,riverside,phase,asset,type,area,level,bua,gfa,gla,parking,employee,residents,visitor,units
0,zone 5,yh090,704,05,0,a,southside,1,plaza,generic,11310.07,tt ffl_00 (+5.40),0,0.0,0,0.0,0.0,0,0.0,0
1,zone 5,yh090,704,02,0,a,southside,1,plaza,generic,7107.65,tt ffl_00 (+5.40),0,0.0,0,0.0,0.0,0,0.0,0
2,zone 5,yh090,704,03,0,a,southside,1,plaza,generic,6574.31,tt ffl_00 (+5.40),0,0.0,0,0.0,0.0,0,0.0,0
3,zone 5,yh090,704,04,0,a,southside,1,plaza,generic,7551.44,tt ffl_00 (+5.40),0,0.0,0,0.0,0.0,0,0.0,0
4,zone 5,yh090,704,06,0,a,southside,1,plaza,generic,11367.91,tt ffl_00 (+5.40),0,0.0,0,0.0,0.0,0,0.0,0

In [13]:
data = SmartDataframe(df, config={'llm': llm})

### Speak to the data

In [39]:
prompt_widget = widgets.Text(value='...', description='Question') 
prompt_widget.layout.width = '300px'
display(prompt_widget)

Text(value='...', description='Question', layout=Layout(width='300px'))

In [47]:
def query_data(b):
    global question
    question = prompt_widget.value
    return data.chat(question)

In [48]:
answer_widget = widgets.Button(description='answer me')
display(answer_widget)
answer_widget.on_click(query_data)

Button(description='answer me', style=ButtonStyle())

In [43]:
query_data(question)

'The dataframe has 2253 rows and 20 columns.'